/**************************/
/* BELOW 1168px (Smaller desktops) */
/**************************/
@media (max-width: 73em) {
  .header--side__left,
  .header--side__right {
    padding: 0 2rem;
  }

  .record--table thead th,
  .record--table tbody tr td {
    padding: 1rem 2rem;
  }

  .modal--container {
    padding: 5rem 5rem;
  }
}

/**************************/
/* BELOW 1104px (Landscape Tablets) */
/**************************/
@media (max-width: 69em) {
  .section--header {
    margin-top: 2rem;
  }

  .header--title h1 {
    font-size: 7.4rem;
  }

  .game__container {
    grid-template-columns: repeat(4, 1fr);
  }
}

/**************************/
/* BELOW Width -> 928px; Height -> 1376px (Tablets Portrait) */
/**************************/

@media (max-width: 58em) and (max-height: 86em) {
  html {
    font-size: 62.5%;
  }

  .section--header {
    grid-template-columns: 1fr 1fr;
  }

  .header--side {
    align-items: start;
    margin: 0 auto;
    font-size: 3.6rem;
  }

  .header--title {
    grid-row: 1;
    grid-column: 1/-1;
    margin-bottom: 1rem;
  }

  .header--title h1 {
    font-size: 9.8rem;
  }

  .header--side {
    grid-row: 2;
  }
  .header--side > * {
    margin-bottom: 1.6rem;
  }

  .header--setting {
    font-size: 2rem;
  }
}

/**************************/
/* BELOW 880px (Tablets) */
/**************************/
@media (max-width: 58em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }

  .section--header {
    margin-top: 1rem;
  }

  .section--header {
    grid-template-columns: 1fr 1fr;
  }

  .header--side {
    align-items: start;
    margin: 0 auto;
  }

  .container {
    padding: 0 4rem;
  }

  .header--title h1 {
    grid-row: 1;
    grid-column: 1/-1;
  }

  .modal--container {
    padding: 5rem 10rem;
    font-size: 3.6rem;
  }
  .record--table thead th,
  .record--table tbody tr td {
    padding: 1rem 1rem;
  }

  .pairs__select {
    padding: 1rem 1.6rem;
  }
}

@media (max-width: 46em) {
  .header--title h1 {
    font-size: 8.6rem;
  }

  .game__container {
    gap: 4rem;
  }

  .modal--container {
    padding: 3rem;
  }

  .modal__records {
    font-size: 3rem;
  }
}

@media (max-width: 34em) {
  .section--header {
    margin-top: 4rem;
  }
  .header--title h1 {
    font-size: 6.2rem;
  }

  .header--setting {
    font-size: 1.6rem;
  }

  .header--side > * {
    margin-bottom: 1.2rem;
  }

  .game__container {
    gap: 2.4rem;
  }

  .game--card {
    min-height: 6rem;
    max-height: 13rem;
  }
  .card--icon {
    font-size: 7rem;
  }

  .container {
    padding: 0 2rem;
  }

  .modal--container {
    padding: 5rem 3rem 3rem 3rem;
    font-size: 3rem;
    gap: 3.6rem;
  }

  .modal__setting {
    gap: 2rem;
  }

  .modal__close--btn {
    top: 0.5%;
    right: 0.5%;
    font-size: 3rem;
  }

  .pairs__select {
    font-size: 2rem;
    padding: 1rem;
  }

  .modal__records {
    font-size: 2.4rem;
  }

  .footer--list {
    font-size: 1.4rem;
  }
}

@media (max-width: 24em) {
  .header--title h1 {
    font-size: 5.2rem;
  }

  .modal--container {
    padding: 5rem 3rem 3rem 3rem;
    font-size: 2.4rem;
    gap: 3rem;
  }

  .card--icon {
    font-size: 5.2rem;
  }

  .modal__records {
    font-size: 1.6rem;
  }

  .footer--list {
    font-size: 1rem;
  }
}
