/* 
--- 01 Typography System

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52/ 62 / 74 / 86 / 98

- Font weights:
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line Heights:
Default: 1
Small: 1.05 
Medium: 1.2
Paragraph: 1.6
Large: 1.8

- Letter Spacing
-0.5px
0.75px / 0.5px

--- 02 Colors 

- Primary: 
- Tints:
- Shades: 
- Accents:
- Greys: 


--- 03 Images
--- 04 Icons

--- 05 Shadow
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
·
--- 06 Border-radius
Default: 9px
Medium: 11px

--- 07 Whitespace

- Spacing Systems (px)
2 / 4 / 8 / 12 /16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  --background-color: #eeeeee;
  --text-color: #333;
  --card-background: linear-gradient(
    to left top,
    rgb(255, 208, 0),
    rgb(236, 200, 39)
  );
  --card-shadow: 0 1.2rem 2rem rgba(0, 0, 0, 0.25);
  --footer-background-color: #333;
  --footer-text-color: #f8f9fa;
  --modal-card-background-color: #099268;

  font-family: 'Roboto', sans-serif;
  min-height: 100vh;

  /* for footer to stick at the bottom */
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: relative;

  background-color: var(--background-color);
  color: var(--text-color);
}

body.dark {
  --background-color: #333;
  --text-color: #f8f9fa;
  --card-shadow: 1rem 1.2rem 2rem rgba(255, 255, 255, 0.24);
  --card-background: linear-gradient(to left top, #364fc7, #1e3a8a);
  --footer-background-color: #818181;
  --footer-text-color: #333;
  --modal-card-background-color: #107c6e;
}

.section--header {
  display: grid;
  grid-template-columns: 1fr 60% 1fr;
  margin: 0.8rem 0;
  /* width: 100%; */
  justify-content: space-between;

  /* for footer to stick at the bottom */
  flex: 0 0 auto;
}

.header--side {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 0 2rem 0 5rem;
  font-size: 1.6rem;
  flex: 1 1 0;
  /* font-weight: 500; */
}

.header--side__left {
  align-items: start;
  padding: 0 2rem 0 5rem;
}

.header--side__right {
  align-items: flex-end;
  padding: 0 5rem 0 2rem;
}

.header--side > * {
  margin-bottom: 1.2rem;
  color: inherit;
}

.header--title {
  display: inline-block;
  text-align: center;
  font-size: 6.2rem;
  font-family: 'Architects Daughter', cursive, sans-serif;
  color: var(--text-color);
}

.header--setting {
  font-family: inherit;
  font-size: 1.6rem;
  border: none;

  background: none;

  display: flex;
  align-items: center;
  gap: 1rem;
}

.header--button {
  text-align: left;
  cursor: pointer;
  transition: all 0.3s;
  color: inherit;
}

.setting__icon {
  color: inherit;
  font-size: 2.4rem;
}

.header--button:hover {
  transform: scale(1.15);
  transform-origin: center;
  transition: all;
}

.header--button:hover > .setting__icon {
  animation: 1.5s rotate360 1 linear;
}

.container {
  margin: 0 auto;
  padding: 0 8rem;
  max-width: 130rem;
}

.section--game {
  /* for footer to stick at the bottom */
  flex: 1 0 auto;
}

.game__container {
  /* display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  flex-wrap: wrap; */

  display: grid;
  gap: 5rem;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;

  width: 100%;
  margin-bottom: 2rem;
}

.game--card {
  min-height: 16rem;
  max-height: 18rem;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;

  position: relative;
  filter: drop-shadow(var(--card-shadow));
  cursor: pointer;
}

.card--content {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s;
}

.game--card:hover {
  transform: translateY(-1rem);
}

.game--card:hover .card--front i {
  transform: scale(1.05);
}

.game--card.flipped .card--content {
  transform: rotateY(180deg);
}

.card--front__back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: grid;
  place-items: center;
}

.card--front {
  background: var(--card-background);
}

.card--icon {
  height: 50%;
  width: 50%;
  font-size: 9rem;
  justify-content: center;
}

.card--back {
  background: var(--modal-card-background-color);
  transform: rotateY(180deg);
}

/* MODAL */
.section--modal {
  font-family: 'Architects Daughter', cursive, sans-serif;
  font-size: 5.2rem;
  position: absolute;
  height: 70%;
  width: 70%;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 10;
}

.modal__filter {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
}

.pairs__select {
  font-family: 'Roboto', sans-serif;
  padding: 2rem 3.6rem;
  font-size: 2.4rem;
  border-radius: 1rem;
  background-color: var(--background-color);
  color: inherit;
  border: 0;
}

.hidden {
  display: none;
  opacity: 0;
}

.modal--container {
  position: relative;
  height: 100%;
  width: 100%;

  background-color: var(--modal-card-background-color);
  border-radius: 3rem;
  padding: 10rem 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

.modal__close--btn {
  position: absolute;
  top: 3%;
  right: 2.5%;
  width: 5rem;
  height: 5rem;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 5rem;

  display: flex;
  align-items: center;
}

.modal__setting {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.modal__records {
  font-size: 3rem;
  overflow-y: auto;
  flex: 1 1 0;
}

.record--table {
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
}

.record--table thead tr {
  background-color: var(--background-color);
}

.record--table thead th,
.record--table tbody tr td {
  text-align: left;
  padding: 1rem 5rem;
}

.record--table tbody tr:nth-of-type(odd) {
  color: #f8f9fa;
}

.record--table tbody tr:nth-of-type(even) {
  background: var(--card-background);
}

/* FOOTER */
.section--footer {
  height: 3rem;
  background-color: var(--footer-background-color);

  /* for footer to stick at the bottom */
  flex: 0 0 auto;
}

.footer--list {
  display: flex;
  list-style: none;
  justify-content: end;
  align-items: center;
  gap: 2rem;
  height: inherit;

  color: var(--footer-text-color);
  font-size: 1.6rem;
}

.footer--list__item {
  display: flex;
  gap: 0.8rem;
}

.footer--list__icon {
  font-size: 1.8rem;
}

.footer--list__link {
  display: flex;
}

.footer--list__item > a:link,
.footer--list__item > a:visited {
  text-decoration: none;
  color: #ffd700;

  transition: all 0.3s;
}

.footer--list__item > a:hover,
.footer--list__item > a:active {
  text-decoration: none;
  color: #ffae00;
}

/* ANIMATION */
@keyframes rotate360 {
  to {
    transform: rotate(360deg);
  }
}
